<div class="container-fluid">

  <div class="navbar sticky-top bg-white" style="width: 100%; margin-bottom: 0px; margin-top: 16px; padding: 16px 0px;">
    <div class="col-2">
      <%= link_to user_path(current_user) do%>
        <i class="fas fa-chevron-left" style="font-size: 25px; color: #B85A36;"></i>
      <% end %>
    </div>
    <div class="col-8" style="justify-content: center">
      <h4 style="margin-bottom: 0px; text-align: center; padding: 0px;">Recipe Ingredients</h4>
    </div>
    <div class="col-2" style="padding-right: 0px; text-align: right;">
      <i class="fas fa-plus-circle" style="font-size: 25px;" data-toggle="modal" data-target=#ingredientModal></i>
    </div>
  </div>

  <hr>

<div class="container-fluid">
<%= link_to "Add Utensils", recipe_recipe_utensils_path(@recipe), class: "btn btn-warning" %>
    <div class="row my-5">
        <% @recipe_ingredients.each do |recipe_ingredient| %>
            <div class="col-md-6 py-2">
                <div class="card m-0">
                    <div class="card border-0" style="width: 100%; height: 100%">
                        <div class="card-body flex-grow-1 p-3">
                        <p><%= recipe_ingredient.quantity%></p>
                        <p><%= recipe_ingredient.unit %></p>
                        <p><%= recipe_ingredient.ingredient.name %></p>
                        </div>
                      <%= link_to "Delete Ingredient", recipe_ingredient_path(recipe_ingredient), class: "btn btn-danger", method: :delete %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>


<!-- Button trigger modal -->
<%#= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn btn-info" %>
<%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ingredientModal">
  Add Ingredient
</button> %>

<!-- Modal -->
<div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="ingredientModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ingredientModalLabel">Add ingredient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <%= simple_form_for [@recipe, @recipe_ingredient] do |f| %>
            <%= f.input :quantity %>
            <%= f.input :unit, collection: RecipeIngredient::UNIT %>
            <p>Ingredient</p>
            <%= render "ingredients/autocomplete", model_name: 'recipe_ingredient', class: "form-control" %>
            <%= f.submit "Add Ingredient", class:"btn btn-primary mt-3" %>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
