 <div class="navbar sticky-top bg-white" style="width: 100%; margin-bottom: 0px; padding-top: 32px; padding-bottom: 16px;">
    <div class="col-2" style="padding-left: 0px;">
      <%= link_to root_path do%>
        <i class="fas fa-chevron-left" style="font-size: 25px; color: #B85A36;"></i>
      <% end %>
    </div>
    <div class="col-8" style="justify-content: center">
      <div class="login-modal-header">
        <div class="logo">
        <%= image_tag("prepman.svg", alt: "logo", class:"logo") %>
        <h3 class="login-modal-title" id="newUserModalLabel">Sign Up</h3>
        </div>
      </div>
    </div>
    <div class="col-2" style="padding-right: 0px; text-align: right;">
    </div>
  </div>


<div class="container-fluid">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%# <%= f.input :username %>
    <%# f.input :name %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign Up", class:"btn btn-primary" %>
  </div>
<% end %>

<hr>
<%= link_to user_facebook_omniauth_authorize_path, method: :post do%>
  <%= image_tag "fb-login-button.png", class: "fb-button"%>
<% end %>
 <br>

<%- if controller_name != 'sessions' %>
  <%= link_to "Log in with email", new_session_path(resource_name), class:"btn btn-info", style: "width: 50%; font-size: 10px; font-size: 10px; max-height: 50px; max-width: 165px;" %>
<% end %>

<%#= render "devise/shared/links" %>

</div>
