  <div class="card m-0" id="recipe-<%= recipe.id %>">
      <div class="card border-0" style="width: 100%; height: 100%">
          <% if recipe.photo.attached? %>
          <%= cl_image_tag recipe.photo.key, class: "card-img-top" %>
          <% else %>
          <%= image_tag "placeholder_recipe.jpg", class: "card-img-top" %>
          <% end %>
          <div class="card-nav">
            <div class="" style="color: #FFD964; text-shadow: 0 0 black; font-weight: 600; font-size: smaller;">
              <% if recipe.average_rating == 0 %>
                <span>No ratings yet <span>
              <% else %>
                <%= recipe.average_rating%>  <i class="fas fa-star"></i>
              <% end %>
            </div>
              <p class="favorite-count"><strong><%= recipe.favorites.count %></strong></p>
              <% if current_user %>
                <%= link_to recipe_favorites_path(recipe) , method: :post, class:"bookmark", remote: true do %>
                  <%= image_tag("bookmark-regular.svg", class:"like-icon", alt: "no-favorite") %>
                <% end %>
                  <% if current_user.has_favorite?(recipe) %>
                    <%= link_to favorite_path(current_user.has_favorite?(recipe)), method: :delete, class:"bookmark", remote: true do %>
                      <%= image_tag("bookmark-solid.svg", class:"like-icon", alt: "current-favorite") %>
                    <% end %>
                  <% else %>
                    <%= link_to recipe_favorites_path(recipe) , method: :post, class:"bookmark", remote: true do %>
                      <%= image_tag("bookmark-regular.svg", class:"like-icon", alt: "no-favorite") %>
                    <% end %>
                <% end %>
               <% else %>
                <%= link_to new_user_session_path, class:"bookmark" do %>
                  <%= image_tag("bookmark-regular.svg", class:"like-icon", alt: "no-favorite") %>
                <% end %>
              <% end %>
          </div>

          <%= yield %>
          <div class="container-fluid transparent">
            <div class="row" style="padding-left: 8px; padding-top: 6px;">
              <%= link_to "#{recipe.title}", recipe, style: "color: #204742; font-size: x-large" %>
            </div>
            <div class="row recipe-info">
              <% case %>
              <% when recipe.diet == "Vegan" %>
              <%= image_tag "vegan.svg", class: "diet-logo" %>
              <% when recipe.diet == "Vegetarian" %>
              <%= image_tag "vegetarian.svg", class: "diet-logo" %>
              <% when recipe.diet == "Pescetarian" %>
              <%= image_tag "pescetarian.svg", class: "diet-logo" %>
              <% when recipe.diet == "I eat everything" %>
              <%= image_tag "meat.svg", class: "diet-logo" %>
              <% when recipe.diet == "Lactose-free" %>
              <%= image_tag "lactose-free.svg", class: "diet-logo" %>
              <% else recipe.diet == "Gluten-free" %>
              <%= image_tag "gluten-free.svg", class: "diet-logo" %>
              <% end %>

              <p class="m-0"><%= image_tag "clock.svg", class: "diet-logo" %>

              <% if recipe.total_time < 60 %>
                  ~<%= recipe.total_time %> min
              <% else %>
                  ~<%= (recipe.total_time.to_f/60).floor %> h
                  <%= (((recipe.total_time.to_f/60)-(recipe.total_time.to_f/60).floor)*60).floor %> min
              <% end %>
              </p>


              <% if recipe.difficulty == "easy" %>
                <span>次<%= recipe.difficulty %></span>
              <% elsif recipe.difficulty == "medium" %>
                <span>次次<%= recipe.difficulty %></span>
              <% else %>
                <span>次次次<%= recipe.difficulty %></span>
              <% end %>

            </div>

            <div class="row recipe-info">
              <p class="m-0" style="padding-bottom: 2px;">Recipe by
                <% if recipe.user.username.blank? %>
                  <%= link_to "Hero with no name", user_path(recipe.user) %>
                <% else %>
                  <%= link_to "#{recipe.user.username}", user_path(recipe.user) %>
                <% end %>

                <% if recipe.user.photo.attached? %>
                  <%= cl_image_tag recipe.user.photo.key, class:"avatar" %>
                <% else %>
                  <%= image_tag("user.png", alt: "Profile", class:"avatar") %>
              <% end %>

              </p>
            </div>

       <!--      <p>Likes: <%= recipe.favorites.count %></p> -->

          </div>

      </div>
  </div>
