<% if !@recipe || current_user != @recipe&.user %>

    <div class="container-fluid m-auto" style="padding-top: 100px;">
    <!-- <div style="margin: 20px; text-align: center; align-items: center;"> -->
      <%= image_tag("prepman.svg", alt: "logo", class:"m-auto", style:"width: 200px;") %>
      <h3>Please don't go looking at other Hero's recipe edits</h3>
    </div>


<% else %>

  <div class="navbar sticky-top bg-white" style="width: 100%; margin-bottom: 0px; padding-top: 32px; padding-bottom: 16px;">
    <div class="col-2" style="padding-left: 0px";>
      <%= link_to recipe_path(@recipe) do%>
        <i class="fas fa-chevron-left" style="font-size: 25px; color: #B85A36;"></i>
      <% end %>
    </div>
    <div class="col-8" style="justify-content: center">
      <h4 style="margin-bottom: 0px; text-align: center; padding: 0px;">Edit Recipe</h4>
    </div>
    <div class="col-2" style="padding-right: 0px; text-align: right;"></div>
  </div>

<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="transparent p-4">
          <%= simple_form_for @recipe do |f| %>
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :portion %>
            <%= f.input :difficulty, collection: Recipe::DIFFICULTY %>
            <%= f.input :prep_time, label: 'Prep-Time in min' %>
            <%= f.input :bake_time, label: 'Bake-Time in min' %>
            <%= f.input :resting_time, label: 'Resting-Time in min' %>
            <%= f.input :diet, collection: Recipe::DIET, input_html: { class: 'select2' } %>
            <%= f.input :dish_type, collection: Recipe::DISHTYPE, input_html: { class: 'select2' } %>
            <%= f.input :cuisine, collection: Recipe::CUISINE, input_html: { class: 'select2' } %>
            <%= f.input :occasion, collection: Recipe::OCCASION, input_html: { class: 'select2' } %>
            <%= f.input :calories %>
            <%= f.input :protein %>
            <%= f.input :fat %>
            <%= f.input :carb %>
            <div>
              <% if @recipe.photo.attached? %>
                <%= cl_image_tag @recipe.photo.key, class: "img-thumbnail" %>
              <% end %>
            </div>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Update Ingredients", class:"btn btn-primary", method: :patch %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
