
  <!-- Button trigger modal -->

  <div class="navbar navbar-expand-lg navbar-light navbar-lewagon sticky-top bg-light">
    <div class="container-fluid h-40">
      <%= link_to recipes_path, class:"menu-icons", data: {toggle: "modal", target: "#searchModal"} do %>
        <%= image_tag("search.png", class:"search", alt: "Search") %>
      <% end %>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchLabel">Search:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id='search'>
            <%= form_tag recipes_path, method: :get do %>
              <div class="search-form-control form-group m-0" style="width: 100%">
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find a Recipe"
                %>
                <!-- other filter items -->
                <div class="container-fluid px-0">
                  <div class="row justify-content-evenly mx-0">

                      <div class="filter my-2" style="width: 100%;">
                        <p><strong>Diet:</strong></p>
                        <% Recipe::DIET.each do |diet| %>
                          <label for="<%= diet %>"><%= diet %></label>
                          <input type="checkbox" value="<%= diet %>" id="<%= diet %>" name="diets[]">
                        <% end %>
                      </div>

                      <div class="filter my-2">
                        <p><strong>Dishtype:</strong></p>
                        <% Recipe::DISHTYPE.each do |dishtype| %>
                          <label for="<%= dishtype %>"><%= dishtype %></label>
                          <input type="checkbox" value="<%= dishtype %>" id="<%= dishtype %>" name="dishtypes[]">
                        <% end %>
                      </div>

                      <div class="filter my-2">
                        <p><strong>Cuisine:</strong></p>
                        <% Recipe::CUISINE.each do |cuisine| %>
                          <label for="<%= cuisine %>"><%= cuisine %></label>
                          <input type="checkbox" value="<%= cuisine %>" id="<%= cuisine %>" name="cuisines[]">
                        <% end %>
                      </div>

                      <div class="filter my-2">
                        <p><strong>Occasion:</strong></p>
                        <% Recipe::OCCASION.each do |occasion| %>
                          <label for="<%= occasion %>"><%= occasion %></label>
                          <input type="checkbox" value="<%= occasion %>" id="<%= occasion %>" name="occasions[]">
                        <% end %>
                      </div>

                      <div class="filter my-2">
                        <p><strong>Difficulty:</strong></p>
                        <% Recipe::DIFFICULTY.each do |difficulty| %>
                          <label for="<%= difficulty %>"><%= difficulty %></label>
                          <input type="checkbox" value="<%= difficulty %>" id="<%= difficulty %>" name="difficulties[]">
                        <% end %>
                      </div>

                      <div class="filter my-2">
                        <p><strong>Rating:</strong></p>
                        <% Review::RATING.each do |rating| %>
                          <label for="<%= rating %>"><%= rating %></label>
                          <input type="checkbox" value="<%= rating %>" id="<%= rating %>" name="ratings[]">
                        <% end %>
                      </div>

                 <!--    </div> -->


                </div>
                <%= submit_tag "Search", class: "btn btn-primary search-btn" %>

              </div>
              <!-- End of filter Items -->

              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- Recipes index -->

    <div class="row my-5">
        <% @recipes.each do |recipe| %>
            <div class="col-md-6 py-2">
              <%= render 'card', recipe: recipe, current_user: user_signed_in? ? current_user : nil %>
            </div>
        <% end %>
    </div>
</div>
