  <div class="navbar navbar-inner sticky-top">
    <div class="container-fluid h-40" style="padding-bottom: 8px;">
      <div class="row" style="padding-left: 15px">
        <%= link_to recipe_path, class:"navbar-recipe-show", data: {toggle: "modal", target: "#addToCookbookModal"} do %>
          <%= image_tag("cookbook.png", class:"search", style:"margin-left: 0px;", alt: "Search") %>
        <% end %>
        <%= link_to recipe_path, class:"navbar-recipe-show", data: {toggle: "modal", target: "#addToPlannerModal"} do %>
          <%= image_tag("yellow-calendar.png", class:"search", style:"height: 24px; margin-left: 0px;", alt: "Search") %>
        <% end %>
      </div>

      <p class="favorite-count"><strong><%= @recipe.favorites.count %></strong></p>
      <% if current_user %>
        <%= link_to recipe_favorites_path(@recipe) , method: :post, class:"bookmark", remote: true do %>
          <%= image_tag("bookmark-regular.svg", class:"like-icon", alt: "no-favorite") %>
        <% end %>
        <% if current_user.has_favorite?(@recipe) %>
          <%= link_to favorite_path(current_user.has_favorite?(@recipe)), method: :delete, class:"bookmark", remote: true do %>
            <%= image_tag("bookmark-solid.svg", class:"like-icon", alt: "current-favorite") %>
          <% end %>
        <% else %>
          <%= link_to recipe_favorites_path(@recipe) , method: :post, class:"bookmark", remote: true do %>
            <%= image_tag("bookmark-regular.svg", class:"like-icon", alt: "no-favorite") %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class:"bookmark" do %>
          <%= image_tag("bookmark-regular.svg", class:"like-icon", alt: "no-favorite") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="avg-rating-show">
    <% if @recipe.average_rating == 0 %>
      <span>No ratings yet <span>
    <% else %>
      <%= @recipe.average_rating.round%>  <i class="fas fa-star"></i>
    <% end %>
  </div>

<div class="show-recipe-photo">
  <% if @recipe.photo.attached? %>
    <%= cl_image_tag @recipe.photo.key, class: "card-img-show" %>
  <% else %>
    <%= image_tag "placeholder_recipe.jpg", class: "card-img-show" %>
  <% end %>
</div>


<div class="container-fluid">
  <div class="show-recipe-title">
    <div class="card-show">
    <div class="transparent-recipe-title">
      <h3 class="m-0" style="text-align: center; border-radius: 16px; padding: 4px 16px;"><%= @recipe.title %></h3>
       <div class="container-fluid">
        <div class="row recipe-info" style="padding-top: 0px">
          <% case %>
          <% when @recipe.diet == "Vegan" %>
            <%= image_tag "vegan.svg", class: "diet-logo" %>
          <% when @recipe.diet == "Vegetarian" %>
            <%= image_tag "vegetarian.svg", class: "diet-logo" %>
          <% when @recipe.diet == "Pescetarian" %>
            <%= image_tag "pescetarian.svg", class: "diet-logo" %>
          <% when @recipe.diet == "I eat everything" %>
            <%= image_tag "meat.svg", class: "diet-logo" %>
          <% when @recipe.diet == "Lactose-free" %>
            <%= image_tag "lactose-free.svg", class: "diet-logo" %>
          <% else @recipe.diet == "Gluten-free" %>
            <%= image_tag "gluten-free.svg", class: "diet-logo" %>
          <% end %>

          <p class="m-0"><%= image_tag "clock.svg", class: "diet-logo" %>

          <% if @recipe.total_time < 60 %>
              ~<%= @recipe.total_time %> min
          <% else %>
              ~<%= (@recipe.total_time.to_f/60).floor %> h
              <%= (((@recipe.total_time.to_f/60)-(@recipe.total_time.to_f/60).floor)*60).floor %> min
          <% end %>
          </p>

          <% if @recipe.difficulty == "easy" %>
            <span>次<%= @recipe.difficulty %></span>
          <% elsif @recipe.difficulty == "medium" %>
            <span>次次<%= @recipe.difficulty %></span>
          <% else %>
            <span>次次次<%= @recipe.difficulty %></span>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>


  <div class="row mx-auto" style="width: 100%; justify-content: center; ">
    <div class="recipe-status">
      <% if current_user == @user %>
          <% if @recipe.status == "draft" %>
            <p class= "btn btn-danger mb-0"><%= @recipe.status %></p>
            <%= link_to "publish recipe", publish_recipe_path(@recipe), class: "btn btn-info", method: :patch %>
          <% else %>
            <p class= "btn btn-success mb-0"><%= @recipe.status %></p>
          <% end %>
          <%= link_to "Update Recipe", edit_recipe_path(@recipe), class: "btn btn-info" %>
      <% end %>
    </div>
  </div>

  <!-- Button trigger modal -->
<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToPlannerModal">
    Add to Planner
  </button> -->


  <!-- Modal -->
  <div class="modal fade" id="addToPlannerModal" tabindex="-1" role="dialog" aria-labelledby="addToPlannerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addToPlannerLabel">Add <%= @recipe.title %> to your planner:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id='add-recipe-to-planner'>
            <%= simple_form_for @planner do |f| %>
              <%= f.hidden_field :recipe_id, value: @recipe.id %>
              <%= f.input :date, as: :string, type: :text %>
              <%= f.submit "Add" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addToCookbookModal" tabindex="-1" role="dialog" aria-labelledby="addToCookbookModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addToCookbookModal">Add <%= @recipe.title %> to your Cookbook:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id='add-recipe-to-cookbook'>
            <%= simple_form_for :recipe, url: add_to_cookbook_recipe_path(@recipe), method: :post do |f| %>
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="add-cookbook-tab" data-toggle="pill" href="#add-cookbook" role="tab" aria-controls="add-list" aria-selected="true">Create new Cookbook</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="chose-cookbook-tab" data-toggle="pill" href="#chose-cookbook" role="tab" aria-controls="chose-list" aria-selected="false">Choose cookbook</a>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="add-cookbook" role="tabpanel" aria-labelledby="add-cookbook-tab">
                  <input type="text" name="new_cookbook_list" class="form-control">
                  <%= f.submit "Add", class: "btn btn-primary" %>
                </div>
                <div class="tab-pane fade" id="chose-cookbook" role="tabpanel" aria-labelledby="chose-cookbook-tab">
                  <select name="cookbook_list" id="cookbook_list_id" class="select2" style="width: 100%">
                    <option value="" disabled selected>Choose a list</option>
                    <% if current_user %>
                      <% current_user.cookbooks.each do |cbook| %>
                        <option value="<%= cbook.id %>"><%= cbook.title %></option>
                      <% end %>
                    <% end %>
                  </select>
                  <%= f.submit "Add", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 550px;"></div>

  <div>
    <div class="row mx-auto" style="width: 100%; justify-content: center; align-items: center; ">
      <div style="margin-right: 8px;">
        <% if @recipe.user.photo.attached? %>
          <%= cl_image_tag @recipe.user.photo.key, class:"avatar" %>
        <% else %>
          <%= image_tag("user.png", alt: "Profile", class:"avatar") %>
        <% end %>
      </div>
      <% if @recipe.user.username.blank? %>
        <%= link_to "Hero with no name", user_path(@recipe.user) %>
      <% else %>
        <%= link_to "#{@recipe.user.username}", user_path(@recipe.user) %>
      <% end %>
    </div>

    <hr>

    <p><%= @recipe.description %></p>

    <div class="row mx-auto" style="width: 100%; justify-content: space-around; align-items: center; ">
      <p class="recipe-categories"><%= @recipe.cuisine %></p>
      <p class="recipe-categories"><%= @recipe.dish_type %></p>
      <p class="recipe-categories"><%= @recipe.occasion %></p>
    </div>
    <div class="row mx-auto" style="width: 100%; justify-content: space-around; align-items: center; ">

      <div class="nutritions">
        <div class="bd-highlight text-center">Cal</div>
        <div class="bd-highlight text-center"><%= @recipe.calories %></div>
      </div>

      <div class="nutritions">
        <div class="bd-highlight text-center">Protein</div>
        <div class="bd-highlight text-center"><%= @recipe.protein %></div>
      </div>

      <div class="nutritions">
        <div class="bd-highlight text-center">Fat</div>
        <div class="bd-highlight text-center"><%= @recipe.fat %></div>
      </div>

      <div class="nutritions">
        <div class="bd-highlight text-center">Carb</div>
        <div class="bd-highlight text-center"><%= @recipe.carb %></div>
      </div>

    </div>

    <hr>

    <h4><strong>Portion:</strong></h4>

    <div class="row mx-auto" style="width: 100%; justify-content: space-evenly; align-items: center; ">
      <i class="fas fa-minus-circle" style="font-size: 25px"></i>
      <span style="font-size: 45px; text-align: center;"><%= @recipe.portion %></span>
      <i class="fas fa-plus-circle" style="font-size: 25px"></i>
    </div>

    <h5><strong>Ingredients:</strong></h5>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <p><%= recipe_ingredient.quantity.round %> <%= recipe_ingredient.unit %> <%= recipe_ingredient.ingredient.name %></p>
    <% end %>




  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToShoppingListModal">
    Add to Shopping List
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addToShoppingListModal" tabindex="-1" role="dialog" aria-labelledby="addToShoppingListLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addToShoppingListLabel">Add <%= @recipe.title %> ingredients to your shopping list:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id='add-ingredient-to-shopping-list'>
            <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
              <%= recipe_ingredient.ingredient.name %>,
            <% end %>
            <%= simple_form_for :recipe, url: add_to_shopping_list_recipe_path(@recipe), method: :post do |f| %>
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="add-list-tab" data-toggle="pill" href="#add-list" role="tab" aria-controls="add-list" aria-selected="true">Home</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="chose-list-tab" data-toggle="pill" href="#chose-list" role="tab" aria-controls="chose-list" aria-selected="false">Profile</a>
                </li>

              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="add-list" role="tabpanel" aria-labelledby="add-list-tab">
                  <input type="text" name="new_list" class="form-control">
                  <%= f.submit "Add", class: "btn btn-primary" %>
                </div>
                <div class="tab-pane fade" id="chose-list" role="tabpanel" aria-labelledby="chose-list-tab">
                  <select name="list" id="list_id" class="select2" style="width: 100%">
                    <option value="" disabled selected>Choose a list</option>
                    <% if current_user %>
                      <% current_user.shopping_lists.each do |slist| %>
                        <option value="<%= slist.id %>"><%= slist.title %></option>
                      <% end %>
                    <% end %>
                  </select>
                  <%= f.submit "Add", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button cook dish -->
  <%#= link_to "Cooked it!", recipe_cooked_recipe_index_path(@recipe), method: :post, class: "btn btn-primary" %>

  <!-- Button trigger modal -->
<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToCookbookModal">
    Add to Cookbook
  </button>
 -->

  <!-- Modal -->



  <% if current_user %>
    <% if current_user.has_cooked_recipe?(@recipe) %>
      <%= link_to "Recipe Cooked", cooked_recipe_path(current_user.has_cooked_recipe?(@recipe)), method: :delete, class: "btn btn-info" %>
    <% else %>
      <%= link_to "Cooked it!", recipe_cooked_recipe_index_path(@recipe), method: :post, class: "btn btn-primary" %>
    <% end %>
  <% end %>



  <div class="row px-15" style="margin-bottom: 30px; padding-left: 15px;">
    <div class="pt-3">
      <div class="d-flex justify-content-between pr-8">
        <h4 class="my-auto">Reviews</h4>
        <span class="my-auto my-0"><%= @recipe.reviews.count %> reviews | Average Rating: <%= @recipe.average_rating %> <i class="fas fa-star"></i></span>
      </div>

      <% @recipe.reviews.each do |review| %>
        <p><strong>Rating: </strong>
          <% (review.rating).times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </p>
        <p><strong>Review: </strong><%= review.content %> </p>
        <div class="short-line"></div>
      <% end %>
    </div>
  </div>

  <div class="row" style="padding-left: 15px;">
    <div class="card-text">
      <h4>Review</h4>
      <%= simple_form_for [ @recipe, @review ] do |f| %>
        <%= f.input :rating, collection: Review::RATING %>
        <%= f.input :content %>
        <%= f.submit "Review" %>
      <% end %>
    </div>
  </div>
  <div style="height: 77px;"></div>
</div>


