  <div class="navbar navbar-inner sticky-top" style="padding-bottom: 0px;">
    <div class="container-fluid h-40" style="padding-bottom: 8px;">
      <div class="row" style="padding-left: 15px">
        <%= link_to recipe_path(@recipe), class:"navbar-recipe-show", data: {toggle: "modal", target: "#addToCookbookModal"} do %>
          <%= image_tag("cookbook.png", class:"search", style:"margin-left: 0px;", alt: "Search") %>
        <% end %>
        <%= link_to recipe_path(@recipe), class:"navbar-recipe-show", data: {toggle: "modal", target: "#addToPlannerModal"} do %>
          <%= image_tag("yellow-calendar.png", class:"search", style:"height: 24px; margin-left: 0px;", alt: "Search") %>
        <% end %>
        <div class="avg-rating-show">
          <% if @recipe.average_rating == 0 %>
            <span>No ratings yet <span>
          <% else %>
            <%= @recipe.average_rating.round(1) %>  <i class="fas fa-star"></i>
          <% end %>
        </div>
      </div>

      <p class="favorite-count"><strong><%= @recipe.favorites.count %></strong></p>
      <% if current_user %>
        <%= link_to recipe_favorites_path(@recipe) , method: :post, class:"bookmark", remote: true do %>
          <%= image_tag("bookmark-regular.svg", class:"like-icon", alt: "no-favorite") %>
        <% end %>
        <% if current_user.has_favorite?(@recipe) %>
          <%= link_to favorite_path(current_user.has_favorite?(@recipe)), method: :delete, class:"bookmark", remote: true do %>
            <%= image_tag("bookmark-solid.svg", class:"like-icon", alt: "current-favorite") %>
          <% end %>
        <% else %>
          <%= link_to recipe_favorites_path(@recipe) , method: :post, class:"bookmark", remote: true do %>
            <%= image_tag("bookmark-regular.svg", class:"like-icon", alt: "no-favorite") %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class:"bookmark" do %>
          <%= image_tag("bookmark-regular.svg", class:"like-icon", alt: "no-favorite") %>
        <% end %>
      <% end %>
    </div>
  </div>


<div class="show-recipe-photo">
  <% if @recipe.photo.attached? %>
    <%= cl_image_tag @recipe.photo.key, class: "card-img-show" %>
  <% else %>
    <%= image_tag "placeholder_recipe.jpg", class: "card-img-show" %>
  <% end %>
</div>


<div class="container-fluid">
  <div class="show-recipe-title">
    <div class="card-show">
    <div class="transparent-recipe-title">
      <h3 class="m-0" style="text-align: center; border-radius: 16px; padding: 4px 16px;"><%= @recipe.title %></h3>
       <div class="container-fluid">
        <div class="row recipe-info" style="padding-top: 0px">
          <% case %>
          <% when @recipe.diet == "Vegan" %>
            <%= image_tag "vegan.svg", class: "diet-logo" %>
          <% when @recipe.diet == "Vegetarian" %>
            <%= image_tag "vegetarian.svg", class: "diet-logo" %>
          <% when @recipe.diet == "Pescetarian" %>
            <%= image_tag "pescetarian.svg", class: "diet-logo" %>
          <% when @recipe.diet == "I eat everything" %>
            <%= image_tag "meat.svg", class: "diet-logo" %>
          <% when @recipe.diet == "Lactose-free" %>
            <%= image_tag "lactose-free.svg", class: "diet-logo" %>
          <% else @recipe.diet == "Gluten-free" %>
            <%= image_tag "gluten-free.svg", class: "diet-logo" %>
          <% end %>

          <p class="m-0"><%= image_tag "clock.svg", class: "diet-logo" %>

          <% if @recipe.total_time < 60 %>
              ~<%= @recipe.total_time %> min
          <% else %>
              ~<%= (@recipe.total_time.to_f/60).floor %> h
              <%= (((@recipe.total_time.to_f/60)-(@recipe.total_time.to_f/60).floor)*60).floor %> min
          <% end %>
          </p>

          <% if @recipe.difficulty == "easy" %>
            <span>🦸<%= @recipe.difficulty %></span>
          <% elsif @recipe.difficulty == "medium" %>
            <span>🦸🦸<%= @recipe.difficulty %></span>
          <% else %>
            <span>🦸🦸🦸<%= @recipe.difficulty %></span>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>


  <div class="row mx-auto" style="width: 100%; justify-content: center; ">
    <div class="recipe-status">
      <% if current_user == @user %>
          <% if @recipe.status == "draft" %>
            <p class= "btn btn-danger mb-0"><%= @recipe.status %></p>
            <%= link_to "publish recipe", publish_recipe_path(@recipe), class: "btn btn-info", method: :patch %>
          <% else %>
            <p class= "btn btn-success mb-0"><%= @recipe.status %></p>
          <% end %>
          <%= link_to "Update Recipe", edit_recipe_path(@recipe), class: "btn btn-info" %>
      <% end %>
    </div>
  </div>

  <!-- Button trigger modal -->
<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToPlannerModal">
    Add to Planner
  </button> -->


  <!-- Modal -->
  <div class="modal fade" id="addToPlannerModal" tabindex="-1" role="dialog" aria-labelledby="addToPlannerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addToPlannerLabel">Add <%= @recipe.title %> to your planner:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id='add-recipe-to-planner'>
            <%= simple_form_for @planner do |f| %>
              <%= f.hidden_field :recipe_id, value: @recipe.id %>
              <%= f.input :date, as: :string, type: :text %>
              <%= f.submit "Add" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addToCookbookModal" tabindex="-1" role="dialog" aria-labelledby="addToCookbookModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addToCookbookModal">Add <%= @recipe.title %> to your Cookbook:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id='add-recipe-to-cookbook'>
            <%= simple_form_for :recipe, url: add_to_cookbook_recipe_path(@recipe), method: :post do |f| %>
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="add-cookbook-tab" data-toggle="pill" href="#add-cookbook" role="tab" aria-controls="add-list" aria-selected="true">Create new Cookbook</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="chose-cookbook-tab" data-toggle="pill" href="#chose-cookbook" role="tab" aria-controls="chose-list" aria-selected="false">Choose cookbook</a>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="add-cookbook" role="tabpanel" aria-labelledby="add-cookbook-tab">
                  <input type="text" name="new_cookbook_list" class="form-control">
                  <%= f.submit "Add", class: "btn btn-primary" %>
                </div>
                <div class="tab-pane fade" id="chose-cookbook" role="tabpanel" aria-labelledby="chose-cookbook-tab">
                  <select name="cookbook_list" id="cookbook_list_id" class="select2" style="width: 100%">
                    <option value="" disabled selected>Choose a list</option>
                    <% if current_user %>
                      <% current_user.cookbooks.each do |cbook| %>
                        <option value="<%= cbook.id %>"><%= cbook.title %></option>
                      <% end %>
                    <% end %>
                  </select>
                  <%= f.submit "Add", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 550px;"></div>

  <div>
    <div class="row mx-auto" style="width: 100%; justify-content: center; align-items: center; ">
      <div style="margin-right: 8px;">
        <% if @recipe.user.photo.attached? %>
          <%= cl_image_tag @recipe.user.photo.key, class:"avatar" %>
        <% else %>
          <%= image_tag("user.png", alt: "Profile", class:"avatar") %>
        <% end %>
      </div>
      <% if @recipe.user.username.blank? %>
        <%= link_to "Hero with no name", user_path(@recipe.user) %>
      <% else %>
        <%= link_to "#{@recipe.user.username}", user_path(@recipe.user) %>
      <% end %>
    </div>

    <hr>

    <p><%= @recipe.description %></p>

    <div class="row mx-auto" style="width: 100%; justify-content: space-around; align-items: center; ">
      <p class="recipe-categories"><%= @recipe.cuisine %></p>
      <p class="recipe-categories"><%= @recipe.dish_type %></p>
      <p class="recipe-categories"><%= @recipe.occasion %></p>
    </div>

    <h4 style="padding: 12px 0px;">Nutrition: per serving </h4>
    <div class="row mx-auto" style="width: 100%; justify-content: space-around; align-items: center; ">
      <div class="nutritions">
        <div class="bd-highlight text-center">Cal</div>
        <div class="bd-highlight text-center"><%= @recipe.calories %></div>
      </div>

      <div class="nutritions">
        <div class="bd-highlight text-center">Protein</div>
        <div class="bd-highlight text-center"><%= @recipe.protein %></div>
      </div>

      <div class="nutritions">
        <div class="bd-highlight text-center">Fat</div>
        <div class="bd-highlight text-center"><%= @recipe.fat %></div>
      </div>

      <div class="nutritions">
        <div class="bd-highlight text-center">Carb</div>
        <div class="bd-highlight text-center"><%= @recipe.carb %></div>
      </div>

    </div>

    <hr>

    <h4><strong>Portion</strong></h4>

    <div class="row mx-auto" style="width: 100%; justify-content: space-evenly; align-items: center; margin-bottom: 16px; ">
      <i class="fas fa-minus-circle" style="font-size: 25px"></i>
      <span id="portion-amount" style="font-size: 45px; text-align: center;">1</span>
      <i class="fas fa-plus-circle" style="font-size: 25px"></i>
    </div>

    <h4 style="padding-bottom: 8px; "><strong>Ingredients:</strong></h4>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <p><span data-unit="<%= recipe_ingredient.quantity.round / @recipe.portion %>" class="ingredient-amount"><%= recipe_ingredient.quantity.round / @recipe.portion %></span> <%= recipe_ingredient.unit %> <%= recipe_ingredient.ingredient.name %></p>
    <% end %>




  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToShoppingListModal">
    Add to Shopping List
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addToShoppingListModal" tabindex="-1" role="dialog" aria-labelledby="addToShoppingListLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addToShoppingListLabel">Add <%= @recipe.title %> ingredients to your shopping list:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id='add-ingredient-to-shopping-list'>
            <%= simple_form_for :recipe, url: add_to_shopping_list_recipe_path(@recipe), method: :post do |f| %>
              <span><strong>Ingredients/serving:</strong></span>
              <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
                <p><span class=""><%= (recipe_ingredient.quantity.round / recipe_ingredient.recipe.portion) %></span> <%= recipe_ingredient.unit %> <%= recipe_ingredient.ingredient.name %></p>
              <% end %>
              <%= f.input :portion, collection: 1..10, name: "portions" %>
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="add-list-tab" data-toggle="pill" href="#add-list" role="tab" aria-controls="add-list" aria-selected="true">Create new shopping list:</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="chose-list-tab" data-toggle="pill" href="#chose-list" role="tab" aria-controls="chose-list" aria-selected="false">Add to:</a>
                </li>

              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="add-list" role="tabpanel" aria-labelledby="add-list-tab">
                  <input type="text" name="new_list" class="form-control">
                  <%#= f.submit "Add", class: "btn btn-primary" %>
                </div>
                <div class="tab-pane fade" id="chose-list" role="tabpanel" aria-labelledby="chose-list-tab">
                  <select name="list" id="list_id" class="select2" style="width: 100%">
                    <option value="" disabled selected>Choose a list</option>
                    <% if current_user %>
                      <% current_user.shopping_lists.each do |slist| %>
                        <option value="<%= slist.id %>"><%= slist.title %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>
              <%#= f.input :portion, collection: 1..10 %>
              <%= f.submit "Add", class: "btn btn-primary", style: "margin-top: 1rem;" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button cook dish -->
  <%#= link_to "Cooked it!", recipe_cooked_recipe_index_path(@recipe), method: :post, class: "btn btn-primary" %>

  <!-- Button trigger modal -->
<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToCookbookModal">
    Add to Cookbook
  </button>
 -->

  <!-- Modal -->
  <hr>

  <h5><strong>Utensils</strong></h5>
    <% if @recipe.recipe_utensils.count > 0 %>
      <% @recipe.recipe_utensils.each do |recipe_utensil| %>
        <span><%= recipe_utensil.quantity%> <%= recipe_utensil.utensil.name %> • </span>
      <% end %>
    <% else %>
      <span> No utensils needed </span>
    <% end %>


  <hr>

 <h5><strong>Steps</strong></h5>
    <% if @recipe.steps.count > 0 %>
      <% @recipe.steps.each do |step| %>
        <span><%= step.number %>. <%= step.description %></span>
        <div>
          <% if step.photo.attached? %>
            <%= cl_image_tag step.photo.key, class: "card-img-recipe", style: "margin-bottom: 16px;" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p> Easy peasy. No steps to prepare this dish!. </p>
    <% end %>


  <% if current_user %>
    <% if current_user.has_cooked_recipe?(@recipe) %>
      <%= link_to "Recipe Cooked", cooked_recipe_path(current_user.has_cooked_recipe?(@recipe)), method: :delete, class: "btn btn-info" %>
    <% else %>
      <div style="width: 100%; display: flex; justify-content: center;">
        <%= link_to "Cooked it!", recipe_cooked_recipe_index_path(@recipe), method: :post, class: "btn btn-primary" %>
     </div>
    <% end %>
  <% end %>


  <hr>
  <div class="row px-15" style="margin-bottom: 30px; padding: 0px 15px; align-items: center;">
    <div class="col-7" style="padding: 0px;">
      <h5 style="margin: 0px;"><strong>Reviews</strong></h5>
    </div>
    <div class="col-3" style="padding: 0px; text-align: center; border-right: 1px solid">
      <%= pluralize @recipe.reviews.count, "review" %>
    </div>
    <div class="col-2" style="padding: 0px; text-align: right">
      <% if @recipe.average_rating == 0 %>
        <%= @recipe.average_rating.round %> <i class="fas fa-star"></i>
      <% else %>
        <%= @recipe.average_rating.round(1) %> <i class="fas fa-star"></i>
      <% end %>
    </div>
  </div>




      <% @recipe.reviews.each do |review| %>
        <div  id="review-<%= review.id  %>" class="row px-15" style="margin-bottom: 0px; padding: 0px 15px; align-items: center; justify-content: space-between;">
          <div style="margin-right: 8px;">
            <% if review.user.photo.attached? %>
              <%= cl_image_tag review.user.photo.key, class:"avatar" %>
            <% else %>
              <%= image_tag("user.png", alt: "Profile", class:"avatar") %>
            <% end %>

          <% if review.user.username.blank? %>
            <%= link_to "Hero with no name", user_path(review.user) %>
          <% else %>
            <%= link_to "#{review.user.username}", user_path(review.user) %>
          <% end %>
          </div>

          <div>
            <% (review.rating).times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - review.rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>

        </div>
        <div class="row" style="padding-top: 4px;">
          <div class="col-8">
            <%= review.content %>
          </div>
          <div class="col-4" style="text-align: right; padding: 0px; padding-right: 15px; font-size: small;">
            <% if (Date.today() - review.created_at.to_date) < 1 %>
              <span>Today</span>
            <% else %>
              <span><%= pluralize (Date.today - review.created_at.to_date).to_i, "day" %> ago</span>
            <% end %>
          </div>
        </div>
        <div>
          <% if review.photo.attached? %>
            <%= cl_image_tag review.photo.key, class: "card-img-recipe" %>
          <% end %>
        </div>

        <hr>
      <% end %>



  <div class="" style="">
    <div class="card-text">
      <%= simple_form_for [ @recipe, @review ], remote: true do |f| %>
        <%= f.input :rating, collection: 1..5, prompt: 'Cooked it? Rate this recipe', label:false %>
        <%= f.input :content, placeholder: 'Write a comment', label:false %>
        <%= f.input :photo, as: :file %>
        <% if user_signed_in? %>
          <%= f.submit "Review", class:"btn btn-primary" %>
        <% else %>
          <%= link_to "Review", new_user_session_path, class:"btn btn-primary", data: {toggle: "modal", target: "#newUserModal"} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="newUserModalLabel">Login</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-info px-2" %>
          </div>
        <% end %>
          <hr>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
        <% end %>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end %>
      </div>
      </div>
    </div>
  </div>

