<h1><%= @recipe.title %></h1>


<% if current_user == @user %>
    <% if @recipe.status == "draft" %>
      <p class= "btn btn-danger"><%= @recipe.status %></p>
      <%= link_to "publish recipe", publish_recipe_path(@recipe), class: "btn btn-info mt-2", method: :patch %>
      <% else %>
      <p class= "btn btn-success"><%= @recipe.status %></p>
    <% end %>
    <%= link_to "Update Recipe", edit_recipe_path(@recipe), class: "btn btn-info" %>
<% end %>
<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToPlannerModal">
  Add to Planner
</button>


<!-- Modal -->
<div class="modal fade" id="addToPlannerModal" tabindex="-1" role="dialog" aria-labelledby="addToPlannerLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToPlannerLabel">Add <%= @recipe.title %> to your planner:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id='add-recipe-to-planner'>
          <%= simple_form_for @planner do |f| %>
            <%= f.hidden_field :recipe_id, value: @recipe.id %>
            <%= f.input :date, as: :string, type: :text %>
            <%= f.submit "Add" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToShoppingListModal">
  Add to Shopping List
</button>


<!-- Modal -->
<div class="modal fade" id="addToShoppingListModal" tabindex="-1" role="dialog" aria-labelledby="addToShoppingListLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToShoppingListLabel">Add <%= @recipe.title %> ingredients to your shopping list:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id='add-ingredient-to-shopping-list'>
          <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
            <%= recipe_ingredient.ingredient.name %>,
          <% end %>
          <%= simple_form_for :recipe, url: add_to_shopping_list_recipe_path(@recipe), method: :post do |f| %>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="add-list-tab" data-toggle="pill" href="#add-list" role="tab" aria-controls="add-list" aria-selected="true">Home</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="chose-list-tab" data-toggle="pill" href="#chose-list" role="tab" aria-controls="chose-list" aria-selected="false">Profile</a>
              </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="add-list" role="tabpanel" aria-labelledby="add-list-tab">
                <input type="text" name="new_list" class="form-control">
                <%= f.submit "Add", class: "btn btn-primary" %>
              </div>
              <div class="tab-pane fade" id="chose-list" role="tabpanel" aria-labelledby="chose-list-tab">
                <select name="list" id="list_id" class="select2" style="width: 100%">
                  <option value="" disabled selected>Choose a list</option>
                  <% current_user.shopping_lists.each do |slist| %>
                    <option value="<%= slist.id %>"><%= slist.title %></option>
                  <% end %>
                </select>
                <%= f.submit "Add", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button cook dish -->
<%#= link_to "Cooked it!", recipe_cooked_recipe_index_path(@recipe), method: :post, class: "btn btn-primary" %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToCookbookModal">
  Add to Cookbook
</button>


<!-- Modal -->
<div class="modal fade" id="addToCookbookModal" tabindex="-1" role="dialog" aria-labelledby="addToCookbookModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToCookbookModal">Add <%= @recipe.title %> to your Cookbook:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id='add-recipe-to-cookbook'>
          <%= simple_form_for :recipe, url: add_to_cookbook_recipe_path(@recipe), method: :post do |f| %>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="add-cookbook-tab" data-toggle="pill" href="#add-cookbook" role="tab" aria-controls="add-list" aria-selected="true">Create new Cookbook</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="chose-cookbook-tab" data-toggle="pill" href="#chose-cookbook" role="tab" aria-controls="chose-list" aria-selected="false">Choose cookbook</a>
              </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="add-cookbook" role="tabpanel" aria-labelledby="add-cookbook-tab">
                <input type="text" name="new_cookbook_list" class="form-control">
                <%= f.submit "Add", class: "btn btn-primary" %>
              </div>
              <div class="tab-pane fade" id="chose-cookbook" role="tabpanel" aria-labelledby="chose-cookbook-tab">
                <select name="cookbook_list" id="cookbook_list_id" class="select2" style="width: 100%">
                  <option value="" disabled selected>Choose a list</option>
                  <% current_user.cookbooks.each do |cbook| %>
                    <option value="<%= cbook.id %>"><%= cbook.title %></option>
                  <% end %>
                </select>
                <%= f.submit "Add", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<% if current_user %>
  <% if current_user.has_cooked_recipe?(@recipe) %>
    <%= link_to "Recipe Cooked", cooked_recipe_path(current_user.has_cooked_recipe?(@recipe)), method: :delete, class: "btn btn-info" %>
  <% else %>
    <%= link_to "Cooked it!", recipe_cooked_recipe_index_path(@recipe), method: :post, class: "btn btn-primary" %>
  <% end %>
<% end %>


  <div class="container-fluid">
    <div class="row justify-content-around" style="margin-bottom: 30px">
      <div class="col pt-3" style="height: 160px">
          <div class="d-flex justify-content-between pr-8">
            <h4 class="my-auto">Reviews</h4>
            <span class="my-auto my-0"><%= @recipe.reviews.count %> reviews | Average Rating: <%= @recipe.average_rating %> <i class="fas fa-star"></i></span>
          </div>

            <br>
            <% @recipe.reviews.each do |review| %>
              <p><strong>Rating: </strong>
                <% (review.rating).times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </p>
              <p><strong>Review: </strong><%= review.content %> </p>
              <div class="short-line"></div>
            <% end %>
      </div>
      <div class="card-text">
        <h4>Review</h4>
        <%= simple_form_for [ @recipe, @review ] do |f| %>
          <%= f.input :rating, collection: Review::RATING %>
          <%= f.input :content %>
          <%= f.submit "Review" %>
        <% end %>
      </p>

    </div>
  </div>
