<% if current_user == @user %>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <div class="card p-4">
        <h1>Edit your profile</h1>
          <%= simple_form_for @user do |f| %>
            <%= f.input :username %>
            <%= f.input :name %>
            <%= f.input :url %>
            <%= f.input :bio %>
            <div> 
              <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key, class: "img-thumbnail" %>
              <% end %>
            </div>
            <%= f.input :photo, as: :file, input_html: {class:"clickable-photo-input"} %>
            <%= f.submit "Update Profile", class:"btn btn-primary", method: :patch %>
          <% end %>
      </div>
      <hr>
      <%= link_to "Back", user_path(@user), class: "btn btn-warning" %>
    </div>
  </div>
</div>

<% end %>
