<h1>Hello</h1>

 <h3>Followed Cookbooks</h3>
  <% @followed_cookbook.each do |cookbook| %>
    <%= cookbook.title %>
    <hr>
  <% end %>

 <h3>Made Dishes</h3>
  <% @cooked_recipes.each do |recipe| %>
    <%= recipe.title %>
    <hr>
  <% end %>

  <h3>Likes</h3>
  <div class="row my-5">
    <% @favorites.each do |favorite| %>
      <div class="col-md-4 py-2">
          <%= render 'recipes/card', recipe: favorite.recipe, current_user: user_signed_in? ? current_user : nil %>
      </div>
    <% end %>
  </div>

  <hr>

  <h3>My Recipes</h3>
  <% @recipes.each do |recipe| %>
    <%= recipe.title %>
    <hr>
  <% end %>

  <h3>My Cookbooks</h3>
  <% @cookbooks.each do |cookbook| %>
    <%= cookbook.title %>
    <hr>
  <% end %>

