<div class="navbar sticky-top bg-white" style="width: 100%; margin-bottom: 0px; padding: 16px 0px 0px 0px;">
  <div class="container-fluid">
    <div class="card-product">
      <% if @user.photo.attached? %>
        <%= link_to user_path(@user) do %>
          <%= cl_image_tag @user.photo.key, class:"avatar-profile-bordered" %>
        <% end %>
      <% else %>
        <%= link_to user_path(@user) do %>
          <%= image_tag("user.png", alt: "Profile", class:"avatar-profile") %>
        <% end %>
      <% end %>


      <div class="card-product-infos">
        <% if @user.username.present? %>
          <h2>@<%= @user.username %></h2>
          <% else %>
          <h2>Hero with no name</h2>
        <% end %>
        <% if @user.bio.present? %>
          <p><%= @user.bio %></p>
        <% end %>
        <% if @user.url.present? %>
          <p><%= @user.url %></p>
        <% end %>
      </div>

      <div class="row" style="align-items: baseline;">
        <% if current_user == @user %>
           <!-- Button trigger modal -->
           <%= image_tag("settings.svg", alt: "settings", class:"settings-icon", data: {toggle: "modal", target: "#editProfileModal"}) %>
          <%= link_to destroy_user_session_path, method: :delete do %>
           <%= image_tag("logout.svg", alt: "settings", class:"logout-icon") %>
          <% end %>

        <% end %>
      </div>
    </div>

    <div class="row mx-auto" style="width: 100%; justify-content: space-around; align-items: center; ">
    
    
    <% if current_user == @user %>
        <%= link_to followed_cookbooks_path do %>
        <div class="icon">
          <p class="icon-categories"><%= @followed_cookbooks.count %></p>
          <div>
            <%= image_tag("like.svg", alt: "likes", class:"profile-icon") %>
            <p>Follows</p>
          </div>
        </div>
      <% end %>


      <%= link_to cookbooks_path do %>
      <div class="icon">
        <p class="icon-categories">
          <%= @cookbook_followers %>
        </p>
        <div>
          <%= image_tag("followers.svg", alt: "followers", class:"profile-icon") %>
          <p>Followers</p>
        </div>
      </div>
      <% end %>


      <%= link_to cooked_recipe_index_path do %>
        <div class="icon">
          <p class="icon-categories"><%= @cooked_recipes.count %></p>
          <div>
            <%= image_tag("pot.svg", alt: "made-dishes", class:"profile-icon") %>
            <p>Made Dishes</p>
          </div>
        </div>
      <% end %>

    <% else %>


    <%= link_to followed_cookbooks_path, class:"disabled" do %>
      <div class="icon">
        <p class="icon-categories"><%= @followed_cookbooks.count %></p>
        <div>
          <%= image_tag("like.svg", alt: "likes", class:"profile-icon") %>
          <p>Follows</p>
        </div>
      </div>
    <% end %>


    <%= link_to cookbooks_path, class:"disabled" do %>
    <div class="icon">
      <p class="icon-categories">
        <%= @cookbook_followers %>
      </p>
      <div>
        <%= image_tag("followers.svg", alt: "followers", class:"profile-icon") %>
        <p>Followers</p>
      </div>
    </div>
    <% end %>


    <%= link_to cooked_recipe_index_path, class:"disabled" do %>
      <div class="icon">
        <p class="icon-categories"><%= @cooked_recipes.count %></p>
        <div>
          <%= image_tag("pot.svg", alt: "made-dishes", class:"profile-icon") %>
          <p>Made Dishes</p>
        </div>
      </div>
    <% end %>


    <% end %>
    
    </div>

    <nav style="width: 100%;">
      <div class="nav nav-tabs" style="z-index: 4" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-favorites-tab" data-toggle="tab" href="#nav-favorites" role="tab" aria-controls="nav-favorites aria-selected="true">Likes</a>
        <a class="nav-item nav-link" id="nav-my-recipes-tab" data-toggle="tab" href="#nav-my-recipes" role="tab" aria-controls="nav-my-recipes" aria-selected="false">Recipes</a>
        <a class="nav-item nav-link" id="nav-cookbooks-tab" data-toggle="tab" href="#nav-cookbooks" role="tab" aria-controls="nav-cookbooks" aria-selected="false">Cookbooks</a>
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid py-2">



<div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-favorites" role="tabpanel" aria-labelledby="nav-favorites-tab">
            <div class="container-fluid pb-2 px-0">
               <div class="row">
                <% @favorites.each do |favorite| %>
                  <div class="col-md-6 col-lg-4 py-2">
                      <%= render 'recipes/card', recipe: favorite.recipe, current_user: user_signed_in? ? current_user : nil %>
                  </div>
                <% end %>
              </div>
            </div>
      </div>

  <!-- <hr> -->

  <div class="tab-pane fade" id="nav-my-recipes" role="tabpanel" aria-labelledby="nav-my-recipes-tab">
  <div class="container-fluid pb-2 px-0" >
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-6 col-lg-4 py-2">
            <%= render 'recipes/card', recipe: recipe do %>
              <div class="card-footer">
              <% if current_user == @user %>
                <%= link_to edit_recipe_path(recipe) do %>
                  <%= image_tag("edit.svg", alt: "edit-recipe", class: "edit-recipe-icon", style: "margin-right: 10px;") %>
                <% end %>
                <%= link_to recipe_path(recipe), method: :delete do %>
                  <%= image_tag("bin.svg", alt: "settings", class: "delete-recipe-icon") %>
                <% end %>
              <% end %>
              </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
  </div>

  <div class="tab-pane fade" id="nav-cookbooks" role="tabpanel" aria-labelledby="nav-cookbooks-received-tab">
  <div class="container-fluid pb-2 px-0">

  <!-- Button trigger Cookbook modal -->
  <% if current_user == @user %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cookbookModal">
    Create Cookbook
  </button>
    <hr>
  <% end %>

<!-- Cookbook Modal -->
  <div class="modal fade" id="cookbookModal" tabindex="-1" role="dialog" aria-labelledby="cookbookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cookbookModalLabel">Create Cookbook:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @cookbook do |f| %>
            <%= f.input :title %>
            <%= f.input :status, collection: Cookbook::STATUS %>
            <%= f.submit "Create" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


    <div class="row">
        <% if current_user == @user %>
          <% @cookbooks.each do |cookbook| %>
          <div class="col-md-6 col-lg-4 py-2">
            <%= render 'cookbooks/cookbook_card', cookbook: cookbook do %>
            <%= image_tag("green-bin.svg", alt: "settings", class: "delete-cookbook-icon") %>
            <% end %>
          </div>
          <% end %>
        <% else %>
          <% @public_cookbooks.each do |pcookbook| %>
          <div class="col-md-6 col-lg-4 py-2">
            <%= render 'cookbooks/cookbook_card', cookbook: pcookbook do %>
            <% end %>
          <% end %>
          </div>
        <% end %>
    </div>

    </div>
  </div>
  </div>
</div>

</div>



<!-- Edit PRofile Modal -->
  <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit Profile:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @user do |f| %>
            <%= f.input :username %>
            <%= f.input :name %>
            <%= f.input :url %>
            <%= f.input :bio %>
            <div> 
              <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key, class: "img-thumbnail" %>
              <% end %>
            </div>
            <%= f.input :photo, as: :file, input_html: {class:"clickable-photo-input"} %>
            <%= f.submit "Update Profile", class:"btn btn-primary", method: :patch %>
          <% end %>
        </div>
      </div>
    </div>
  </div>



</div>

