<div class="container-fluid">


<div class="card-product">
  <% if @user.photo.attached? %>
    <%= link_to user_path(@user) do %>
      <%= cl_image_tag @user.photo.key, class:"avatar-profile-bordered" %>
    <% end %>
  <% else %>
    <%= link_to user_path(@user) do %>
      <%= image_tag("user.png", alt: "Profile", class:"avatar-profile") %>
    <% end %>
  <% end %>

  
  <div class="card-product-infos">
    <% if @user.username.present? %>
      <h2>@<%= @user.username %></h2>
      <% else %>
      <h2>Hero with no name</h2>
    <% end %>
    <% if @user.bio.present? %>
      <p><%= @user.bio %></p>
    <% end %>
    <% if @user.url.present? %>
      <p><%= @user.url %></p>
    <% end %>
  </div>
</div>

<div class="row mx-auto" style="width: 100%; justify-content: space-around; align-items: center; ">
  <p class="recipe-categories"><%= @followed_cookbooks.count %></p>
  <p class="recipe-categories">
  <% @cookbooks.each do |cookbook| %>
      <%= cookbook.followed_cookbooks.count %>
  <% end %>
  </p>
  <p class="recipe-categories"><%= @cooked_recipes.count %></p>
</div>


<% if @user == current_user %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>

<nav>
  <div class="nav nav-tabs" style="z-index: 4" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-favorites-tab" data-toggle="tab" href="#nav-favorites" role="tab" aria-controls="nav-favorites aria-selected="true">Likes</a>
    <a class="nav-item nav-link" id="nav-my-recipes-tab" data-toggle="tab" href="#nav-my-recipes" role="tab" aria-controls="nav-my-recipes" aria-selected="false">My Recipes</a>
    <a class="nav-item nav-link" id="nav-cookbooks-tab" data-toggle="tab" href="#nav-cookbooks" role="tab" aria-controls="nav-cookbooks" aria-selected="false">My cookbooks</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-favorites" role="tabpanel" aria-labelledby="nav-favorites-tab">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7 px-0">
            <div class="container-fluid py-2">
              <div class="row">
                <% @favorites.each do |favorite| %>
                  <div class="col-md-4 py-2">
                      <%= render 'recipes/card', recipe: favorite.recipe, current_user: user_signed_in? ? current_user : nil %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

  <!-- <hr> -->

  <div class="tab-pane fade" id="nav-my-recipes" role="tabpanel" aria-labelledby="nav-my-recipes-tab">
  <div class="container-fluid py-2">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-4 py-2">
            <%= render 'recipes/card', recipe: recipe do %>
              <%= link_to "Delete", recipe_path(recipe), class: "btn btn-danger", method: :delete %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
  </div>

  <div class="tab-pane fade" id="nav-cookbooks" role="tabpanel" aria-labelledby="nav-cookbooks-received-tab">
  <div class="container-fluid py-2">

  <!-- Button trigger modal -->
  <% if current_user == @user %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cookbookModal">
    Create Cookbook
  </button>
  <% end %>

  <hr>

<!-- Modal -->
  <div class="modal fade" id="cookbookModal" tabindex="-1" role="dialog" aria-labelledby="cookbookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cookbookModalLabel">Create Cookbook:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @cookbook do |f| %>
            <%= f.input :title %>
            <%= f.input :status, collection: Cookbook::STATUS %>
            <%= f.submit "Create" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <% if current_user == @user %>
      <% @cookbooks.each do |cookbook| %>
        <%= cookbook.title %>
        <%= link_to "see cookbook", cookbook_path(cookbook) %>
        <%= link_to "x", cookbook_path(cookbook), method: :delete %>
        <hr>
      <% end %>
    <% else %>
      <% @public_cookbooks.each do |pcookbook| %>
        <%= pcookbook.title %>
        <%= link_to "see cookbook", cookbook_path(pcookbook) %>
      <% end %>
    <% end %>
    <div style="height: 77px;"></div>
    </div>

  </div>
  </div>
</div>



 <h3>Followed Cookbooks</h3>
  <div class="row my-5">
    <% @followed_cookbooks.each do |fcookbook| %>
      <div class="col-md-4 py-2">
        <%= fcookbook.cookbook.title %>
        <%= link_to "see cookbook", cookbook_path(fcookbook) %>
      </div>
    <% end %>
  </div>

  <h3>Made Dishes</h3>
  <div class="row my-5">
    <% @cooked_recipes.each do |cooked_recipe| %>
      <div class="col-md-4 py-2">
        <%= render 'recipes/card', recipe: cooked_recipe.recipe do %>
        <% if current_user %>
          <% if current_user.has_cooked_recipe?(cooked_recipe.recipe) %>
            <%= link_to "I lied, I haven't cooked this yet", cooked_recipe_path(current_user.has_cooked_recipe?(cooked_recipe.recipe)), method: :delete, class: "btn btn-info" %>
          <% else %>
            <%= link_to "Cooked it!", recipe_cooked_recipe_index_path(cooked_recipe.recipe), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

