<h1>Hello</h1>

 <h3>Followed Cookbooks</h3>
  <% @followed_cookbook.each do |cookbook| %>
    <%= cookbook.title %>
    <hr>
  <% end %>

  <h3>Made Dishes</h3>
  <div class="row my-5">
    <% @cooked_recipes.each do |cooked_recipe| %>
      <div class="col-md-4 py-2">
        <%= render 'recipes/card', recipe: cooked_recipe.recipe do %>
        <% if current_user %>
          <% if current_user.has_cooked_recipe?(cooked_recipe.recipe) %>
            <%= link_to "I lied, I haven't cooked this yet", cooked_recipe_path(current_user.has_cooked_recipe?(cooked_recipe.recipe)), method: :delete, class: "btn btn-info" %>
          <% else %>
            <%= link_to "Cooked it!", recipe_cooked_recipe_index_path(cooked_recipe.recipe), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <h3>Likes</h3>
  <div class="row my-5">
    <% @favorites.each do |favorite| %>
      <div class="col-md-4 py-2">
          <%= render 'recipes/card', recipe: favorite.recipe, current_user: user_signed_in? ? current_user : nil %>
      </div>
    <% end %>
  </div>

  <hr>

  <h3>My Recipes</h3>
  <div class="row my-5">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4 py-2">
          <%= render 'recipes/card', recipe: recipe do %>
            <%= link_to "Delete", recipe_path(recipe), class: "btn btn-danger", method: :delete %>
          <% end %>
      </div>
    <% end %>
  </div>
  <hr>

<h3>My Cookbooks</h3>


<!-- Button trigger modal -->
<% if current_user == @user %>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cookbookModal">
  Create Cookbook
</button>
<% end %>

<hr>

<!-- Modal -->
<div class="modal fade" id="cookbookModal" tabindex="-1" role="dialog" aria-labelledby="cookbookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cookbookModalLabel">Create Cookbook:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @cookbook do |f| %>
          <%= f.input :title %>
          <%= f.input :status, collection: Cookbook::STATUS %>
          <%= f.submit "Create" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<% if current_user == @user %>
  <% @cookbooks.each do |cookbook| %>
    <%= cookbook.title %>
    <%= link_to "see cookbook", cookbook_path(cookbook) %>
    <%= link_to "x", cookbook_path(cookbook), method: :delete %>
    <hr>
  <% end %>
  <% else %>
  <% @public_cookbooks.each do |pcookbook| %>
    <%= pcookbook.title %>
    <%= link_to "see cookbook", cookbook_path(pcookbook) %>
  <% end %>
<% end %>

