<div class="container-fluid">
    <div class="row my-5">
        <% @recipe_utensils.each do |recipe_utensil| %>
            <div class="col-md-6 py-2">
                <div class="card m-0">
                    <div class="card border-0" style="width: 100%; height: 100%">
                        <div class="card-body flex-grow-1 p-3">
                        <p><%= recipe_utensil.quantity%></p>
                        <p><%= recipe_utensil.utensil.name %></p>
                        </div> 
                      <%= link_to "Delete Utensil", recipe_utensil_path(recipe_utensil), class: "btn btn-danger", method: :delete %>
                    </div> 
                </div>
            </div> 
        <% end %> 
    </div>
</div>

<!-- Button trigger modal -->
<%= link_to "Back to ingredients", recipe_recipe_ingredients_path(@recipe), class: "btn btn-warning" %>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#utensilModal">
  Add Utensil
</button>

<%= link_to "Add the steps", recipe_steps_path(@recipe), class: "btn btn-warning" %>

<!-- Modal -->
<div class="modal fade" id="utensilModal" tabindex="-1" role="dialog" aria-labelledby="utensilModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="utensilModalLabel">Add Utensil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <%= simple_form_for [@recipe, @recipe_utensil] do |f| %>
            <%= f.input :quantity %>
            <%= f.association :utensil, input_html: { class: 'select2', style:  "width: 100%"  }, label_html: { style: 'display: block' } %>
            <%= f.submit "Add Utensil", class:"btn btn-primary" %>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>