<% if !@recipe || current_user != @recipe&.user %>

    <div class="container-fluid m-auto" style="padding-top: 100px;">
    <!-- <div style="margin: 20px; text-align: center; align-items: center;"> -->
      <%= image_tag("prepman.svg", alt: "logo", class:"m-auto", style:"width: 200px;") %>
      <h3>Please don't go looking at other Hero's recipe steps editor</h3>
    </div>


<% else %>

<div class="container-fluid">

  <div class="navbar sticky-top bg-white" style="width: 100%; margin-bottom: 0px; margin-top: 16px; padding: 16px 0px;">
    <div class="col-2">
      <%= link_to recipe_steps_path(@step.recipe) do%>
        <i class="fas fa-chevron-left" style="font-size: 25px; color: #B85A36;"></i>
      <% end %>
    </div>
    <div class="col-8" style="justify-content: center">
      <h4 style="margin-bottom: 0px; text-align: center; padding: 0px;">Edit Recipe Steps</h4>
    </div>
    <div class="col-2" style="padding-right: 0px; text-align: right;"></div>
  </div>

<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card p-4">
            <%= simple_form_for @step do |f| %>
            <%= f.input :description %>
            <div>
              <% if @step.photo.attached? %>
                <%= cl_image_tag @step.photo.key, class: "img-thumbnail" %>
              <% end %>
            </div>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Edit Step", class:"btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<% end %>
