<div class="container-fluid">

  <div class="navbar sticky-top bg-white" style="width: 100%; margin-bottom: 0px; margin-top: 16px; padding: 16px 0px;">
    <div class="col-2">
      <%= link_to recipe_recipe_utensils_path(@recipe) do%>
        <i class="fas fa-chevron-left" style="font-size: 25px; color: #B85A36;"></i>
      <% end %>
    </div>
    <div class="col-8" style="justify-content: center">
      <h4 style="margin-bottom: 0px; text-align: center; padding: 0px;">Recipe Steps</h4>
    </div>
    <div class="col-2" style="padding-right: 0px; text-align: right;">
      <i class="fas fa-plus-circle" style="font-size: 25px;" data-toggle="modal" data-target=#stepModal></i>
    </div>
  </div>

  <hr>

<%#= link_to "Back to utensils", recipe_recipe_utensils_path(@recipe), class: "btn btn-warning" %>
<!-- Button trigger modal -->
<%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stepModal">
  Add Step
</button> %>


<!-- Modal Add Step-->
<div class="modal fade" id="stepModal" tabindex="-1" role="dialog" aria-labelledby="stepModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stepModalLabel">Add step</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <%= simple_form_for [@recipe, @step] do |f| %>
            <p>Add Step <%= @steps.size + 1 %></p>
            <%= f.hidden_field :number, value: @steps.size + 1 %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Create Step", class:"btn btn-primary" %>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <div class="container-fluid">
    <%= link_to "See your recipe", recipe_path(@recipe), class: "btn btn-warning mb-3" %>
        <% @steps.each do |step| %>
                <div class="card m-0">
                    <div class="card border-0" style="width: 100%; height: 100%">
                        <% if step.photo.attached? %>
                        <%= cl_image_tag step.photo.key, class: "card-img-top" %>
                        <% end %>
                        <div class="card-body flex-grow-1 p-3">
                        <h4>Step <%= step.number %></h4>
                        <p><%= step.description %></p>
                        <%= link_to step_path(step), method: :delete do %>
                        <%= image_tag("bin.svg", alt: "delete", style: "width: 30px", class: "delete-step-icon") %>
                        <% end %>
                        <%= link_to edit_step_path(step) do %>
                        <%= image_tag("edit.svg", alt: "delete", style: "width: 30px", class: "edit-step-icon") %>
                        <% end %>
                        </div> 
                    </div> 
                </div>
        <% end %>
    </div>


</div>

