

<div class="navbar sticky-top bg-white px-0" style="width: 100%; margin-bottom: 0px; padding-top: 32px; padding-bottom: 16px;">
  <div class="container-fluid">
    <div class="col-2"></div>
    <div class="col-8" style="justify-content: center">
      <h4 style="margin-bottom: 0px; text-align: center; padding: 0px;">Shopping List</h4>
    </div>
    <div class="col-2" style="padding-right: 0px; text-align: right;">
      <i class="fas fa-plus-circle" style="font-size: 25px;" data-toggle="modal" data-target="#addShoppingList"></i>
    </div>
  </div>
</div>




<div class="container-fluid">
  <hr>

  <!-- Modal -->
  <div class="modal fade" id="addShoppingList" tabindex="-1" role="dialog" aria-labelledby="addShoppingListLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Shopping List:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @shopping_list do |f| %>
            <%= f.input :title, type: :text %>
            <%= f.submit "Add", class:"btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% @shopping_lists.each do |shopping_list| %>
    <div class="shopping-list-card-wrapper">
      <%= link_to shopping_list_path(shopping_list) do %>
        <div class="shopping-list-card p-2" style="background-image: linear-gradient(rgba(250,250,250,0.9), rgba(250,250,250,0.9)), url(https://loremflickr.com/<%= rand(330..360) %>/<%= rand(50..100) %>/food);">
          <div class="row">
            <div class="col-8" style="padding-left: 40px; color: #204742;">
              <% if (Date.today() - shopping_list.created_at.to_date) < 1 %>
                <span>Today</span>
              <% else %>
                <span><%= pluralize (Date.today - shopping_list.created_at.to_date).to_i, "day" %> ago</span>
              <% end %>
              <h4><%= shopping_list.title %></h4>
              <span><strong><%= shopping_list.shopping_list_ingredients.size %></strong> items to purchase </span>
            </div>
          </div>
        </div>
      <% end %>
      <%#= link_to shopping_list_path(shopping_list),class: "shopping-list-icon", method: :delete do %>
        <%#= image_tag("green-bin.svg", alt: "delete", style: "width: 30px") %>
      <%# end %>

  <div class= "shopping-list-icon" style="text-align: right">
    <button data-label="Once you delete, you can't have it back."  class="delete-shoppinglist" style="border: none; background-color: transparent;" ><%= image_tag("green-bin.svg", alt: "delete", style: "width: 30px") %></button>
    <%= link_to "", shopping_list_path(shopping_list), method: :delete, id: "delete-link", class: "hidden" %>
  </div>

    </div>
  <% end %>
</div>


<% if @error %>
  <span id="errorModal"></span>
<% end %>

