  <h3>Shopping List</h3>
  <%#= link_to "Add List", new_shopping_list_path, class: "btn btn-info my-2 my-sm-0 mr-2" %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addShoppingList">
  Create Shopping List
</button>

<hr>

<!-- Modal -->
<div class="modal fade" id="addShoppingList" tabindex="-1" role="dialog" aria-labelledby="addShoppingListLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Shopping List:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @shopping_list do |f| %>
          <%= f.input :title, type: :text %>
          <%= f.submit "Add" %>
        <% end %>
      </div>
    </div>
  </div>
</div>




  <% @shopping_lists.each do |shopping_list| %>
    <%= shopping_list.title %>
    <%= link_to "see shopping list", shopping_list_path(shopping_list) %>
    <%= link_to "x", shopping_list_path(shopping_list), method: :delete %>
    <hr>
  <% end %>

