 <div class="card m-0" id="cookbook-<%= cookbook.id %>">
    <div class="card border-0" style="width: 100%; height: 100%">
    <div class="cookbook-pictures">
    <% if cookbook.cookbook_recipes != [] %>
          <% if cookbook.cookbook_recipes[0].recipe.photo.attached? %>
          <%= cl_image_tag cookbook.cookbook_recipes[0].recipe.photo.key, class: "main-img" %>
          <% else %>
          <%= image_tag "placeholder_recipe.jpg", class: "main-img" %>
          <% end %>
        <div class="cookbook-pictures-left">

        <% if cookbook.cookbook_recipes[1] %>
          <% if cookbook.cookbook_recipes[1].recipe.photo.attached? %>
          <%= cl_image_tag cookbook.cookbook_recipes[1].recipe.photo.key, class: "side-img" %>
          <% else %>
          <%= image_tag "placeholder_recipe.jpg", class: "side-img" %>
          <% end %>
           <% else %>
            <div class="placeholder-side">
            <%= image_tag "plus.jpg", class: "side-img" %>
            </div>
        <% end %>

        <% if cookbook.cookbook_recipes[2] %>
          <% if cookbook.cookbook_recipes[2].recipe.photo.attached? %>
          <%= cl_image_tag cookbook.cookbook_recipes[2].recipe.photo.key, class: "side-img-bottom" %>
          <% else %>
          <%= image_tag "placeholder_recipe.jpg", class: "side-img-bottom" %>
          <% end %>
         <% else %>
            <div class="placeholder-side">
            <%= image_tag "plus.jpg", class: "side-img-bottom" %>
            </div>
        <% end %>
        </div>

        <% else %>
        <div class="placeholder-main">
        <%= image_tag "plus.jpg", class: "placeholder-main" %>
        </div>
    <% end %>
      <div class="card-nav">
        <!-- <div class="" style="color: #FFD964; text-shadow: 0 0 black; font-weight: 600; font-size: smaller;"> -->
          <p class="favorite-count"><strong><%= cookbook.followed_cookbooks.count %></strong></p>
          <%= image_tag("followers-yellow.svg", class:"bookmark", alt: "followers") %>
      <!--   </div> -->
      </div>

    </div>

    <%= yield %>

    <div class="container-fluid transparent">
    <div class="row" style="padding-left: 8px; padding-top: 6px;">
        <% if user_signed_in?  %>
          <%= link_to "#{cookbook.title}", cookbook, style: "color: #204742; font-size: x-large", class:"truncate" %>
        <% else %>
          <%= link_to "#{cookbook.title}", new_user_session_path, style: "color: #204742; font-size: x-large", class:"truncate", data: {toggle: "modal", target: "#newUserModal"} %>
        <% end %>
         <% if current_user == cookbook.user %>
          <%= link_to cookbook_path(cookbook), method: :delete do %>
          <% end %>
         <% end %>
    </div>


    <div class="row recipe-info">
    <p class="m-0" style="padding-bottom: 2px;">Recipe by
    <% if cookbook.user.username.blank? %>
        <%= link_to "Hero with no name", user_path(cookbook.user) %>
    <% else %>
        <%= link_to "#{cookbook.user.username}", user_path(cookbook.user) %>
    <% end %>

    <% if cookbook.user.photo.attached? %>
        <%= cl_image_tag cookbook.user.photo.key, class:"avatar" %>
    <% else %>
        <%= image_tag "#{cookbook.user.facebook_picture_url || 'user.png'}", alt: "Profile", class:"avatar" %>
    <% end %>

    </p>
</div>
</div>

    </div>
</div>
