<div class="container-fluid">

  <div class="navbar sticky-top bg-white" style="width: 100%; margin-bottom: 0px; margin-top: 16px; padding: 16px 0px;">
    <div class="col-2">
      <%= link_to user_path(current_user) do%>
        <i class="fas fa-chevron-left" style="font-size: 25px; color: #B85A36;"></i>
      <% end %>
    </div>
    <div class="col-8" style="justify-content: center">
      <h4 style="margin-bottom: 0px; text-align: center; padding: 0px;">My Cookbooks</h4>
    </div>
    <div class="col-2" style="padding-right: 0px; text-align: right;">
      <i class="fas fa-plus-circle" style="font-size: 25px;" data-toggle="modal" data-target=#cookbookModal></i>
    </div>
  </div>

  <hr>

<!-- Button trigger modal -->

  <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cookbookModal">
    Add Cookbook
  </button>
  <hr> %>

<!-- Modal -->
<div class="modal fade" id="cookbookModal" tabindex="-1" role="dialog" aria-labelledby="cookbookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cookbookModalLabel">Create Cookbook:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @cookbook do |f| %>
          <%= f.input :title %>
          <%= f.input :status, collection: Cookbook::STATUS %>
          <%= f.submit "Create" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



  <div class="container-fluid py-2" >
    <div class="row">
      <% @cookbooks.each do |cookbook| %>
        <div class="card col-md-6 mb-3 px-0">
            <%= render 'cookbook_card', cookbook: cookbook do %>
            <%= image_tag("bin.svg", alt: "settings", class: "delete-cookbook-icon") %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
