<div class="container-fluid py-2" style="margin-bottom: 75px;">

<div class="container-fluid py-2">
<h1><%= @cookbook.title %> </h1>

<h4 class="m-0" style="padding-bottom: 2px;">by
  <% if @user.username.blank? %>
    <%= link_to "Hero with no name", user_path(@user) %>
  <% else %>
    <%= link_to "#{@user.username}", user_path(@user) %>
  <% end %>

  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class:"avatar" %>
  <% else %>
    <%= image_tag("user.png", alt: "Profile", class:"avatar") %>
<% end %>
</h4>

<% if current_user == @user %>
    <% if @cookbook.status == "private" %>
      <p class= "btn btn-danger"><%= @cookbook.status %></p>
      <%# <br> %>
      <%#= link_to "publish cookbook", publish_cookbook_path(@cookbook), class: "btn btn-info mt-2", method: :patch %>
      <%# <br> %>
      <% else %>
      <p class= "btn btn-warning"><%= @cookbook.status %></p>
    <% end %>
    <br>
    <%= link_to "Find your recipe", recipes_path, class: "btn btn-info"%>
    <%= link_to "Update Cookbook", edit_cookbook_path(@cookbook), class: "btn btn-info" %>
    <hr>
<% end %>


<% if current_user %>
  <% if current_user.has_followed_cookbook?(@cookbook) %>
    <%= link_to "Followed", followed_cookbook_path(current_user.has_followed_cookbook?(@cookbook)), method: :delete, class: "btn btn-warning" %>
  <% else %>
    <%= link_to "Follow", cookbook_followed_cookbooks_path(@cookbook), method: :post, class: "btn btn-info" %>
  <% end %>
<% end %>

</div>

<div class="container-fluid pt-2">
<h2>Recipes</h2>
    <div class="row my-2">
        <%  @cookbook_recipes.each do |crecipe| %>
            <div class="col-md-6 py-2">
              <%= render 'recipes/card', recipe: crecipe.recipe, current_user: user_signed_in? ? current_user : nil do %>
                <% if current_user == @user %>
                <%= link_to cookbook_recipe_path(crecipe.id), method: :delete do %>
                <%= image_tag("bin.svg", alt: "delete", class: "delete-recipe-icon") %>
                <% end %>
              <% end %>
              <% end %>
            </div>
        <% end %>
    </div>
</div>
</div>

