<h1><%= @cookbook.title %> </h1>

<% if current_user == @user %>
<%= link_to "Find your recipe", recipes_path, class: "btn btn-info"%>
    <% if @cookbook.status == "private" %>
      <p class= "btn btn-danger"><%= @cookbook.status %></p>
      <%= link_to "publish cookbook", publish_cookbook_path(@cookbook), class: "btn btn-info mt-2", method: :patch %>
      <% else %>
      <p class= "btn btn-success"><%= @cookbook.status %></p>
    <% end %>
    <%= link_to "Update Cookbook", edit_cookbook_path(@cookbook), class: "btn btn-info" %>
<% end %>
<br>

<div class="container-fluid">
<h1>Recipes</h1>
    <div class="row my-5">
        <%  @cookbook_recipes.each do |crecipe| %>
            <div class="col-md-6 py-2">
              <%= render 'recipes/card', recipe: crecipe.recipe, current_user: user_signed_in? ? current_user : nil %>
            </div>
        <% end %>
    </div>
</div>

